beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
decorator==4.0.11
filetype==1.0.5
idna==2.9
imageio==2.1.2
instagram-private-api==1.6.0.0
instagram-private-api-extensions==0.3.8
instapy-cli==0.0.12
moviepy==0.2.3.2
numpy==1.18.5
Pillow==7.1.2
requests==2.23.0
soupsieve==2.0.1
tqdm==4.11.2
urllib3==1.25.9
